/* added nav bar*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* nav bar ending */

/* body */
@media all and (min-width: 1200px) {
  #app {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media all and (min-width: 960px) and (max-width: 1199px) {
  #app {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media all and (max-width: 599px) {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media all and (min-width: 600px) {
  section {
    clear: both;
    display: block;
  }
  #event-details-container {
    clear: none;
  }
  img {
    width: 60%;
    height: 300px;
    float: left;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

hr {
  clear: both;
  margin-bottom: 20px;
  margin-top: 20px;
}

section {
  margin: 20px;
}

.material-icons {
  padding-right: 10px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 110vh;
  background-color: #c9e8fd;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 48px;
}

h2 {
  margin-bottom: 0px;
}

label {
  font-size: 18px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#guestbook > p {
  font-weight: lighter;
  font-size: 14px;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  padding: 4px 0;
  background: 0 0;
  text-align: left;
  color: inherit;
}

button.clicked {
  background-color: rgb(60, 67, 154);
  border-color: rgb(60, 67, 154);
  color: white;
  outline-color: rgb(60, 67, 154);
}

button,
button.firebaseui-id-submit.mdl-button--raised.mdl-button--colored {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(60, 67, 154);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  color: rgb(60, 67, 154);
  cursor: default;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  justify-content: center;
  margin: 8px 16px;
  outline-color: rgb(60, 67, 154);
  overflow: hidden;
  padding: 0px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}
/* body ending */

/* ================================================
#   CENTERAL BODY
*==================================================
*/

/* .body {
  align-items: center;
  border: 3px solid green;
} */

/* Image and side text part */
.pic {
  padding-bottom: 150px;
  padding-right: 50px;
  /* border: 3px solid green; */
}

.center {
  align-items: auto;
  padding: auto;
  margin: auto;
  width: fit-content;
  /* border: 3px solid green; */
}

/* ============ Upcoming hading =================*/
.upcoming {
  /* margin-top: 200px; */
  padding: 20px;
  overflow: auto;
  /* border: 3px solid green; */
  text-align: left;
}

/* =========== Images container ========= */
.imagebox {
  padding-left: 175px;
  overflow: auto;
  /* margin: auto; */
  width: auto;
  /* border: 3px solid blue; */
}

/* ============  Individual images ============*/
.subimg {
  align-items: center;
  margin-right: 100px;
  overflow: auto;
  display: inline-flex;
  width: 24%;
  /* height: ; */
  /* padding: 20px; */
  /* border: 3px solid yellow; */
}

/* ================= text Container=============== */
.name {
  display: inline-flex;
  padding-left: 185px;
  overflow: auto;
  /* margin: auto; */
  width: auto;
  /* border: 3px solid black; */
}

/* ================ Individual text ==================== */
.subname {
  padding: 5px;
  text-align: center;
  overflow: auto;
  margin-right: 340px;
  /* margin-inline-end: 270px; */
  width: auto;
  /* border: 3px solid red; */
  /* background-color: grey; */
}

/*Color of links*/
a {
  color: #000;
  /*margin: 0 10px 0 0;*/
}






/* * ========================================== */
/* footer css  */
/* * ========================================== */

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;

  background-color:rgb(99,102,118);
}
.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
  /* color: rgb(218, 45, 45); */
}

.inner_footer .logo_container {
  width: 15%;
  float: left;
  height: 100%;
  display: block;
}
.inner_footer .logo_container img {
  width: 65px;
  height: auto;
}

.inner_footer .footer_third {
  /* width sizing and margin with logo  */
  /* copied from website  */
  width: auto;
  align-items: left;
  margin-right: 20px;
  float: left;
  height: 100%;
}
.inner_footer .footer_third:last-child {
  margin-right: 0;
}

.inner_footer .footer_third h1 {
  font-family: "arial";
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-top:0;
}
.inner_footer .footer_third a {
  font-family: "arial";
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third_quotes {
  float: right;
  margin-right: 20px;
   /* border: 1px #c9e8fd; */
}
.inner_footer .footer_third_quotes h1 {
  font-family: "gelasio ",serif;
  font-style: italic;
  color: white;
  font-size: 25px;
  /* border: 1px #c9e8fd; */
}
.inner_footer .footer_third_quotes .quoteowner {
  float: right;
}

@media (max-width: 800px) {
  .footer .inner_footer {
    width: 90%;
  }
  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* * ========================================== */
/* footer end  */
/* * ========================================== */
